.logo {
    padding:0 50px 0 10px;
 }

.app-toolbar-filler {
    flex: 1 1 auto;
}

mat-toolbar a {
    color: #fff;
    text-decoration:none;
    font-size: 15px
}

.navlink {
    margin-right:30px;
}