<mat-toolbar color="primary" *ngIf="_userService.loggedIn()">

    <a [routerLink]="['./']">
        <i class="glyphicon glyphicon-signal logo" aria-hidden="true"></i>
    </a>

    <a class="navlink" [routerLink]="['/dashboards']">
        Dashboards
    </a>
    <a class="navlink" [routerLink]="['/reports']">
        Reports
    </a>

    <span class="app-toolbar-filler"></span>

    <span *ngIf="_userService.loggedIn()">
        {{_userService.username}}
    </span>
    &nbsp;
    <button mat-button *ngIf="_userService.loggedIn()" (click)="logout()">
        Log out
    </button>

    <button mat-button *ngIf="!_userService.loggedIn()" [routerLink]="['/user/login']">
        Log in
    </button>

</mat-toolbar>

