<div class="clearfix pull-right margin-top-20">
    <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="formHasErrors">Save</button>
    <button mat-raised-button [routerLink]="['/dashboards']">Cancel</button>
</div>
<form [formGroup]="form">
    <div class="clearfix">
        <mat-form-field floatPlaceholder="never">
            <input matInput #name [(ngModel)]="dashboard.name" id="name" placeholder="Dashboard name" formControlName="name" [formGroup]="form">
            <mat-error *ngIf="form.controls.name.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

</form>


    <div class="margin-top-20">
        <div class="col-md-2 padding-left-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Add reports to the dashboard</mat-card-title>
                </mat-card-header>
                <mat-card-content style="height: 300px; overflow-y: auto">

                    <ngx-dnd-container [model]="sourceItems"
                                       [copy]="true"
                                       [dropZones]="dropzones"
                                       [droppableItemClass]="item"
                                       id="dnd-container">

                    </ngx-dnd-container>
                </mat-card-content>
                <mat-card-actions>
                    <div><label>Grid</label><mat-slider min="1" max="10" step="1" (change)="sliderChange()" [(ngModel)]="gridCount"></mat-slider> {{gridCount}}</div>
                    <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="formHasErrors" class="margintop20 saveButton">Save</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-10">

            <mat-grid-list cols="2">
                <mat-grid-tile *ngFor="let num of numbers; let i = index">
                    <mat-card>
                        <mat-card-header>
                            <ngx-dnd-container [model]="targetItems[i]"
                                               dropZone="target-{{i}}"
                                               [removeOnSpill]="true"
                                               (drop)="onDrop($event,i)"
                                               (remove)="onRemove($event,i)"
                                               [id]="i">
                            </ngx-dnd-container>
                        </mat-card-header>
                        <mat-card-content>

                            <ng-template chart-host class="margin-top-20"></ng-template>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
