#name {
    font-size: 36px;
    width: 400px
}

#dnd-container .ngx-dnd-container .ngx-dnd-item {
    background: #0094ff !important;
    color: #00ff90 !important;
}


#dnd-container .ngx-dnd-container .ngx-dnd-item {
    background: transparent !important;
    color: #444 !important;
    border: 1px solid #ddd;
    margin: 0;
}

    #dnd-container .ngx-dnd-container .ngx-dnd-item:hover {
        border: 1px solid #0094ff;
    }

.ngx-dnd-container {
    background: transparent !important;
    border: 2px dashed #f1f1f1 !important;
}

#dnd-container .ngx-dnd-container {
    border: none !important;
    padding: 0;
}

#dnd-container {
    border: none;
}

.mat-grid-tile .mat-figure {
    display: block!important;
}

.ngx-dnd-item {
    background: none!important;
}

.mat-card {
    height: 98% !important;
    width: 98% !important;
}