<div class="clearfix pull-right margin-top-20">
    <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="false">Save</button>
    <button mat-raised-button [routerLink]="['/dashboards']">Cancel</button>
</div>
<div class="clearfix">
    <mat-form-field floatPlaceholder="never">
        <input matInput #name [(ngModel)]="dashboard.name" id="name" placeholder="Dashboard name">
    </mat-form-field>
</div>




        <div class="margin-top-20">
    <div class="col-md-2 padding-left-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Add reports to the dashboard</mat-card-title>
            </mat-card-header>
            <mat-card-content style="height: 300px; overflow-y: auto">

                <ngx-dnd-container [model]="sourceItems"
                                   [copy]="true"
                                   [dropZones]="['multiple-target-a', 'multiple-target-b']"
                                   [droppableItemClass]="item"
                                   id="dnd-container">

                </ngx-dnd-container>

                
                
            </mat-card-content>
            <mat-card-actions>
                <div><label>Grid</label><mat-slider min="1" max="10" step="1" [(ngModel)]="gridCount"></mat-slider> {{gridCount}}</div>
                <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="false" class="margintop20">Save</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-10">

        <mat-grid-list cols="2">
            <mat-grid-tile *ngFor="let i of numbers">
                <mat-card>
                    <mat-card-header>
                        <ngx-dnd-container [model]="targetItemsA[i]"
                                           dropZone="multiple-target-a"
                                           [droppableItemClass]="droppableItem"
                                           [removeOnSpill]="true"
                                           (drop)="onDrop($event,i)"
                                           (remove)="onRemove($event,i)"
                                           [id]="i">
                        </ngx-dnd-container>
                    </mat-card-header>
                    <mat-card-content>

                        <ng-template chart-host class="margin-top-20"></ng-template>

                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
