<p>&nbsp;</p>
<div class="col-md-offset-2 col-md-4 margin-top-20">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><mat-icon>dashboard</mat-icon></div>
            <mat-card-title>Manage dashboards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-spinner *ngIf="isLoadingDashboards" color="primary" mode="indeterminate"></mat-progress-spinner>
            <mat-list>
                <mat-list-item *ngFor="let dash of dashboards">
                    <h4 mat-line><a [routerLink]="['/dashboards/edit/'+dash.dashboardGUID]">{{dash.name}}</a> <small class="pull-right">{{dash.modifyDate | date:'yyyy. MM. dd.'}}</small></h4>
                </mat-list-item>
            </mat-list>
            <button mat-raised-button color="primary" [routerLink]="['/dashboards/create']">
                Create dashboard
            </button>
            <button mat-raised-button [routerLink]="['/dashboards']">See all</button>
        </mat-card-content>
    </mat-card>
</div>
<div class="col-md-4 margin-top-20">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><mat-icon>insert_chart</mat-icon></div>
            <mat-card-title>Manage reports</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-spinner *ngIf="isLoadingReports" color="primary" mode="indeterminate"></mat-progress-spinner>
            <mat-list>
                <mat-list-item *ngFor="let report of reports">
                    <h4 mat-line><a [routerLink]="['/reports/edit/'+report.reportGUID]">{{report.name}}</a> <small class="pull-right">{{report.modifyDate | date:'yyyy. MM. dd.'}}</small></h4>
                </mat-list-item>
            </mat-list>
            <button mat-raised-button color="primary" [routerLink]="['/reports/create']">
                Create report
            </button>
            <button mat-raised-button [routerLink]="['/reports']">See all</button>
        </mat-card-content>
    </mat-card>
</div>