<div class="margin-top-20">
    <div class="col-md-3 padding-left-3">
        <mat-card class="margin-bottom-20">
            <mat-card-header>
                <mat-card-title>Chart data source</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <mat-select placeholder="Chart type" #chartType [(ngModel)]="selectedChartType" (ngModelChange)="chartTypeChange()" name="chartType" id="chartType" class="margin-top-20 fit-container">
                        <mat-option *ngFor="let chart of chartTypes" [value]="chart.value">
                            {{chart.name}}
                        </mat-option>
                    </mat-select>
                    <mat-select placeholder="Name" [(ngModel)]="discreteDataOptions.nameColumn" (ngModelChange)="chartDataOptionChange()" name="nameColumn" class="margin-top-20 fit-container">
                        <mat-option *ngFor="let column of queryStringColumns" [value]="column.name">
                            {{column.text}}
                        </mat-option>
                    </mat-select>
                    <mat-select placeholder="Value" [(ngModel)]="discreteDataOptions.valueColumn" (ngModelChange)="chartDataOptionChange()" name="valueColumn" class="margin-top-20 fit-container">
                        <mat-option *ngFor="let column of queryNumberColumns" [value]="column.name">
                            {{column.text}}
                        </mat-option>
                    </mat-select>
                    <p class="margin-top-20">Aggregation</p>
                    <mat-radio-group [(ngModel)]="discreteDataOptions.aggregation" (ngModelChange)="chartDataOptionChange()" name="aggregation" class="margin-top-20 fit-container">
                        <mat-radio-button *ngFor="let aggregation of aggregationTypes" [value]="aggregation.value">{{aggregation.name}}</mat-radio-button>
                    </mat-radio-group>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onChartSave()">Save</button>
                <button mat-raised-button>Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-7">
        <ng-template chart-host class="margin-top-20"></ng-template>
    </div>
    <div class="col-md-2 padding-right-3">
        <mat-expansion-panel *ngIf="chartItem" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Display options
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let option of chartItem.options; let i = index" class="margin-top-20">
                <mat-checkbox *ngIf="option.type == 'boolean'" [(ngModel)]="chartItem.options[i].value">{{option.text}}</mat-checkbox>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="chartItem" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Labels
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let option of chartItem.options; let i = index">
                <mat-form-field *ngIf="option.type == 'string'">
                    <input #stringOpts matInput [(ngModel)]="chartItem.options[i].value" name="{{option.name}}" placeholder="{{option.text}}" class="fit-container">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </div>
</div>