<!--<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
    <button md-menu-item>Item 1</button>
    <button md-menu-item>Item 2</button>
</md-menu>

    <h1>Hello, world!</h1>
    <form class="example-form">
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Favorite food" value="Sushi">
        </md-form-field>
    </form>
    <md-checkbox></md-checkbox>

<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
        Jolly good!
    </md-sidenav>

    <div class="example-sidenav-content">
        <button type="button" md-button (click)="sidenav.open()">
            Open sidenav
        </button>
    </div>

</md-sidenav-container>-->

<!--<md-form-field floatPlaceholder="never">
    <input mdInput #filter placeholder="Filter users">
</md-form-field>

<md-table #table [dataSource]="dataSource" mdSort>
    <ng-container mdColumnDef="userId">
        <md-header-cell *mdHeaderCellDef md-sort-header> ID </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>
    <ng-container mdColumnDef="progress">
        <md-header-cell *mdHeaderCellDef md-sort-header> Progress </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.progress}}% </md-cell>
    </ng-container>
    <ng-container mdColumnDef="userName">
        <md-header-cell *mdHeaderCellDef md-sort-header> Name </md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>
    <ng-container mdColumnDef="color">
        <md-header-cell *mdHeaderCellDef md-sort-header> Color </md-header-cell>
        <md-cell *mdCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
    </ng-container>
    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator #paginator
              [length]="exampleDatabase.data.length"
              [pageIndex]="0"
              [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>-->


<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="dataSource.isLoadingResults || dataSource.isRateLimitReached">
        <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="dataSource.isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
    </div>
    <mat-table #table [dataSource]="dataSource" class="example-table"
               matSort matSortActive="created_at" matSortDisableClear matSortDirection="asc">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Number Column -->
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
        </ng-container>
        <!-- State Column -->
        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
        </ng-container>
        <!-- Created Column -->
        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header
                             disableClear="true">
                Created
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.created_at | date }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="dataSource.resultsLength"
                   [pageSize]="30">
    </mat-paginator>
</div>
